{{#if error}}
    <p class="auth-error">{{error}}</p>
{{/if}}

<div class="auth">
    <div class="login">
        <h1>Авторизация</h1>

        <br />

        <form action="/auth/login" method="POST">
            <label>
                Email:
                <input type="text" name="email" required />
            </label>

            <br />
            <br />

            <label>
                Пароль:
                <input type="password" name="password" required />
            </label>

            <br />
            <br />

            <input type="hidden" name="_csrf" value="{{csrf}}" />

            <p>
                <a href="/auth/reset">Забыли пароль?</a>
            </p>

            <button type="submit">Войти</button>
        </form>

    </div>
    <div class="registration">
        <h1>Регистрация</h1>

        <br />

        <form action="/auth/register" method="POST">
            <label>
                Email:
                <input type="email" name="email" required />
            </label>

            <br />
            <br />

            <label>
                Имя:
                <input type="text" name="name" required />
            </label>

            <br />
            <br />

            <label>
                Пароль:
                <input type="password" name="password" required />
            </label>

            <br />
            <br />

            <label>
                Повторить пароль:
                <input type="password" name="confirm" required />
            </label>

            <br />
            <br />

            <input type="hidden" name="_csrf" value="{{csrf}}" />

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>