{{#if error}}
    <p class="auth-error">{{error}}</p>
{{/if}}

<h1>Задать новый пароль</h1>

<br />

<form action="/auth/password" method="POST">
    <label>
        Новый пароль:
        <input type="password" name="password" required />
    </label>

    <br />
    <br />

    <input type="hidden" name="_csrf" value="{{csrf}}" />
    <input type="hidden" name="userId" value="{{userId}}" />
    <input type="hidden" name="token" value="{{token}}" />

    <button type="submit">Обновить пароль</button>
</form>