a {
    color: tomato;
}

.active {
    color: #8D3829;
}

.course {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    background: lightgray;
    border-radius: 5px;
}

.course img {
    grid-row: 1 / 3;
    align-self: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    background: gray;
    border-radius: 50%;
}

.auth {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #CDC4A5;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #C6B0B0;
}

.auth-error {
    display: flex;
    justify-content: center;
    background: tomato;
    font-size: 21px;
    margin: 0 auto 10px;
    padding: 5px 20px;
    color: white;
    width: fit-content;
    border-radius: 5px;
}
